<!DOCTYPE html>
<html>
    <body>
        <p><%= link_to 'ホーム画面へ' %></p>
        <p><%= link_to 'グループ作成',new_group_path %></p>
        <p><%= link_to 'ID変更' %></p>
        <p><%= link_to 'ログアウト' %></p>
    </body>
</html>