<div class="main">
    
    <div id="contents1">
        <%= render "sidebar" %>
    </div>

    
    <div class="contents2">
        <h1>マイページ</h1>
        <p class="dashed"></p>
        <h3>ようこそ <%= @user.uid %> さん</h3>
        <hr>
        <h4>自分の予定</h4>
        <hr>
        
        <h4>グループ一覧</h4>
        <hr>
        <% @user_groups.each do |e| %>
        <p>
            <%= link_to e.name %>
        </p>
        <% end %>
    </div>
</div>






