<div class="main">
    
    <div id="contents1">
        <%= render "sidebar" %>
    </div>

    
    <div class="contents2">
        <h1>マイページ</h1>
        <p>ようこそ <%= @user.uid %> さん</p>
        <hr>
        <p>自分の予定</p>
        <hr>

        <p>グループ一覧</p>
        <% @groups.each do |e| %>
        <p>
            <%= link_to e.name %>
        </p>
        <% end %>
    </div>
</div>