<div class="main">
    
    <div id="contents1">
        <%= render "sidebar" %>
    </div>
    <div class="contents2">
        <h1><%= @user.uid %> さんのマイページ</h1>
        <hr>
        <table class="group-table">
            <tr>
                <th>加入グループ一覧</th>
            </tr>
        <% @user_groups.each do |e| %>
        <tr>
            <td><%= link_to e.name, group_events_path(e) %></td>
        </tr>
        <% end %>
        </table>
    </div>
</div>






