<h1>マイページ</h1>

<div class="main">

  
    <div id="contents1">
        <%= render "sidebar" %>
    </div>
    
    <div class="contents2">
        <p>自分の予定</p>

        <hr>

        <p>グループ一覧</p>
    </div>
</div>