.contents1{
width: 50%;
height: 150px;
}

.contents2{
position: relative;
margin-bottom: 50px;
left: 50px;
width: 95%;
height: 50px;
z-index: 1;
}

.main{
display: block;
gap: 50px;
position: relative; 
z-index: 1;
}


/*マイページのスタイル*/
a {
    color: #96671a;
    text-decoration: none;
    font-weight: bold;
}

/*見出しのスタイル*/

h1{
  padding:1rem 2rem;
  border-top: 3px dashed #5B503E;
  border-bottom: 3px dashed #5B503E;
  background-color: #f5deb3
}

/*入力フォームのスタイル*/

label {
  display: block;
  font-size: 12px;
  margin-bottom: 2px;
}


/*submitボタンのデザイン*/
.custom-submit-button {
  display: block;
	text-align: center;
	text-decoration: none;
	width: 70px;
	margin: 10px 0px 10px;
	font-weight: bold;
	color: #5B503E;
	background:#f5deb3;
	transition: 0.5s;
}
.custom-submit-button :hover{
  color: #000000;
  background: #ee7800;
}

/*マージン*/
.margin{
  margin:50px;
}
/* 全体のスタイル */

body {
  margin: 10px;
  color: #5B503E;
  background-color: #FFFFFF
}

.group-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.group-table th, .group-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.group-table th {
  background-color: #f2f2f2;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  pointer-events: none;
}

.menu-button {
  display: block;
  position: fixed;
  cursor: pointer;
  top: 30px;
  left: 20px;
  z-index: 3;
  pointer-events: auto; 
}


.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 3px 0;
  background-color: black;
  z-index: 3;
}

#menu-toggle {
  display: none;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 10%;
  height: 100%;
  background-color: #f3f3f3;
  transition: 0.2s;
  overflow-y: auto;
  z-index: 3;
  pointer-events: auto; 
}

#menu-toggle:checked ~ .menu {
  left: 0;
}

.menu ul {
  list-style: none;
  padding: 40px;
  color: pink;
  background-color: transparent;
}

.menu ul li a {
  text-decoration: none;
  color: #96671a;
  font-size: 18px;
  display: block;
  padding: 8px 0;
  text-align: center;
}

.menu ul li a:hover {
  color: #bf7497;
}

table.table-striped {
  border-collapse: collapse;
  width: 100%;
}

.text-center {
  text-align: center;
}

th.calendar-header, td.calendar-cell {
  border: 1px solid #ddd;
  padding: 8px; 
}

.calendar-day {
 
}

ul.event-list {
  list-style-type: none;
  padding: 0;
}

ul.event-list li {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

ul.event-list li:last-child {
  border-bottom: none;
}

.schedule {
  padding: 10px;
}
/* テーブル全体 */
.table {
  margin-top: 20px; /* テーブルとスケジュールの間に余白を追加 */
}

/* テーブルのセル */
.table td, .table th {
  text-align: center; /* セル内の文字を中央寄せにする */
}

.current-date {
  background-color: #ffff99; /* 任意の背景色 */
}